body {
    padding: 0px;
    margin: 0px;
    background-color: #e8e7e2;
}


#banner {
    width: 80%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40pt;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    text-decoration: none;
    color: #000000;
}

.homePhotoGrid {
    display: grid;
    grid-template-columns: 50% 50%;
}


/* Main content */
.main {
    margin-left: 15%;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.container {
    margin: 20px;
}

.container a {
    text-decoration: none;
}

.fadeImage {
    opacity: .5;
    transition: .5s ease;
    border-style: solid;
    border-width: .5px;
    border-color: #000000;
    width: 100%;
}

.fadeImage:hover {
    opacity: 1;
}

.test {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.container:hover .test {
    opacity: 0;
}


/* ===== sideNav =====*/

#jbLogo {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

h6 {
    font-size: 16pt;
    padding: 0;
    margin: 0;
    display: inline;
    font-weight: 400;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e8e7e2;
    border-right-style: solid;
    border-color: #000000;
    overflow-x: hidden;
    padding: 5px 5px;
    padding-top: 15px;
    border-right-style: solid;
    border-right-color: black;
    border-width: 2px;
    margin: 0px;
    text-align: center;
    justify-content: center;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 14pt;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    background-color: #837cf8;
}



/* Add an active class to the active dropdown button */
.active {
    background-color: #4e4ab1;
    color: #000000;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #ffffff;
    padding-left: 8px;
}

.dropdown-container a:hover {
    background-color: #837cf8;
    color: #ffffff;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
    font-size: 18pt;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
