/*
colors

#ff6633     #f8af8a     #f3e6cd     #b6abce     #4e4ab1     #232e6f

*/



/*===== TEXT =====*/

.copy {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    color: #000000;
    text-decoration: none;
}

.copy a{
     font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    color: #000000;
    text-decoration: none;
}


body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}


#banner {
    width: 30%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-weight: 200;
    font-size: 20pt;
}



h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    text-decoration: none;
    color: #000000;
}


h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20pt;
    text-decoration: none;
    color: #000000;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-weight: 200;
    font-size: 50pt;
}



/*===== LAYOUT =====*/

.floatRight {
    float: left;
    margin-right: 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.aboutContainer a {
    width: 100px;
    background-color: #ff6633;
    padding: 15px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
}

.aboutContainer a:hover {
    background-color: #f8af8a;
}

.aboutContainer img {
    margin-bottom: 20px;
}

.aboutContainer p {
    width: 90%;
}

.aboutContainer {
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 10%;
}





/* ===== HOMEPAGE content ===== */
.main {
    margin-left: 15%;
    padding: 30px;
    text-align: center;
}


.container a {
    text-decoration: none;
}

.container {
    margin: 20px;
}



/*======Rolodex=====*/

.rolodex {
    position: relative;
    top:450px;
    width: 50%;
    height: auto;
    justify-content: center;
    text-align: center;

}

.rolodex .card {
    position: absolute;
    top: calc(50%);
    left: 60%;
    transform: translate(calc(20% * var(--i)), calc(-50px * var(--i))) rotate(10deg)skew(10deg, -5deg);
    width: 65%;
    height: 65%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 25px 100px rgba(0, 0, 0, 0.2);
    z-index: calc(-1*var(--i));
}

.content img {
    position: relative;
    width: 100%;
    height: 100%;
}

#backBtn {
    top: 500px;
    font-size: 40pt;
    border: none;
    background-color: rgba(255,255,255,0);
    position: absolute;
    align-items: center;
    left: 30%;
    margin: 20px;
}

#forwardBtn {
    top: 500px;
    font-size: 40pt;
    border: none;
    background-color: rgba(255,255,255,0);
    position: absolute;
    align-items: center;
    right: 10%;
    margin: 20px;
}





/* ======== sideNav ========*/

h6 {
    font-size: 14pt;
    padding: 0;
    margin: 0;
    display: inline;
    font-weight: 300;
}

.contact {
    position: fixed;
    bottom: 20px;
    padding: 6px 8px 6px 20px;
    font-size: 12pt;
    color: #000000;
    display: block;
    font-family: 'Roboto', sans-serif;
}


.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-right-style: solid;
    border-color: #000000;
    overflow-x: hidden;
    padding: 5px 5px;
    padding-top: 15px;
    border-right-style: solid;
    border-right-color: black;
    border-width: 2px;
    margin: 0px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a:not(#jbLogo),
.dropdown-btn {
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 12pt;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

/* On mouse-over */
.sidenav a:hover:not(#jbLogo):not(#contact a),
.dropdown-btn:hover {
    background-color: #4e4ab1;
    color: #ffffff;
}



/* Add an active class to the active dropdown button */
.active {
    background-color: #4e4ab1;
    color: #ffffff;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #b6abce;
    padding-left: 8px;
}

.dropdown-container a:hover {
    background-color: #4e4ab1;
    color: #ffffff;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
    font-size: 18pt;
}

#jbLogo {
    display: block;
    width: 50%;
    margin-bottom: 30px;
    margin-top: 15px;
    margin: auto;
}

#contact {
    margin-left: 15px;
    display: block;
    position: fixed;
    bottom: 30px;
    z-index: 1;
    font-size: 12pt;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

#email{
    margin-top: 10px;
}
#email a{
    color: #000000;
    padding: 5px 6px 5px 6px;
    margin-left: 15px;
    text-decoration: none;
}

#email a:hover{
     background-color: #4e4ab1;
    color: #ffffff;
}

#social{
    margin-left: 15px;
    margin-top: 7px;
}

#social a {
    width: auto;
    padding: 10px 6px 5px 6px;
    display: inline;
    text-decoration: none;
    color: #000000;
}

#social a:hover  {
    background-color: #4e4ab1;
    color: #ffffff;
}

.fab {
    font-size: 18pt;
}
