/*
colors

#ff6633     #f8af8a     #f3e6cd     #b6abce     #4e4ab1     #232e6f

*/


.copy {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14pt;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}


#banner {
    width: 80%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 40pt;
}

.floatRight {
    float: left;
    margin-right: 20px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    text-decoration: none;
    color: #000000;
}


h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    text-decoration: none;
    color: #000000;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.aboutContainer a {
    width: 100px;
    background-color: #ff6633;
    padding: 15px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    text-decoration: none;
    color: #000000;
}

.aboutContainer a:hover {
    background-color: #f8af8a;
}

.aboutContainer img {
    margin-bottom: 20px;
}

.homePhotoGrid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.aboutContainer p {
    width: 90%;
}

.aboutContainer {
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 10%;
}



/* Main content */
.main {
    margin-left: 15%;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.container {
    margin: 20px;
}

.container a {
    text-decoration: none;
}

.fadeImage {
    opacity: .5;
    transition: .5s ease;
    border-style: solid;
    border-width: .5px;
    border-color: #000000;
    width: 100%;
}

.fadeImage:hover {
    opacity: 1;
}

.test {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.container:hover .test {
    opacity: 0;
}


/* ======== sideNav ========*/


h6 {
    font-size: 16pt;
    padding: 0;
    margin: 0;
    display: inline;
    font-weight: 300;
}

.contact {
    position: fixed;
    bottom: 20px;
    padding: 6px 8px 6px 20px;
    font-size: 12pt;
    color: #000000;
    display: block;
    font-family: 'Roboto', sans-serif;
}


.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-right-style: solid;
    border-color: #000000;
    overflow-x: hidden;
    padding: 5px 5px;
    padding-top: 15px;
    border-right-style: solid;
    border-right-color: black;
    border-width: 2px;
    margin: 0px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a:not(#jbLogo),
.dropdown-btn {
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 12pt;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

/* On mouse-over */
.sidenav a:hover:not(#jbLogo):not(#contact a),
.dropdown-btn:hover {
    background-color: #4e4ab1;
    color: #ffffff;
}



/* Add an active class to the active dropdown button */
.active {
    background-color: #4e4ab1;
    color: #ffffff;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #b6abce;
    padding-left: 8px;
}

.dropdown-container a:hover {
    background-color: #4e4ab1;
    color: #ffffff;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
    font-size: 18pt;
}

#jbLogo {
    display: block;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 15px;
    margin: auto;
}

#contact {
    overflow-x: hidden;
    width: 12%;
    position: fixed;
    bottom: 20px;
    left: 0;
    z-index: 1;
    padding: 6px 8px 6px 20px;
    font-size: 12pt;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

#social a {
    width: auto;
    padding-top: 5px;
    display: block;
    text-decoration: none;
    color: #000000;
    margin-top: 5px;
}

#social a:hover {
    background-color: #4e4ab1;
    color: #ffffff;
    padding: 6px 8px 6px 20px;
    width: 100%;
}

.fab {
    font-size: 18pt;
}
